<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Githu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC3B3E291D4C816000A4AAA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3B3E421D4C816000A4AAA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3B3E4D1D4C816000A4AAA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
